<div class='ui fluid container' ng-controller='librariesCtrl'>
	<div class='large-title bg-yellow bg-fancy'>Your Libraries</div>
	<div class='ui container'>
		<div class='ui link cards'>
			<div class='card'>
				<div class='image'>
					<img src='assets/img/matthew.png'/>
				</div>
				<div class='content'>
					<div class='header'>Liblist <a class='ui blue label'>C</a></div>
					<div class='meta'>Started on 05/17/2017</div>
					<div class='desccription'>C lib allowing easy use of linked lists.</div>
				</div>
				<div class='extra content'>
					<span><i class='user icon'></i> Solo project</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	/*
	 * Semantic init
	 */
	$('.ui.progress').progress();

</script>