<div class='ui fluid container' ng-controller='preferencesCtrl'>
	<div class='large-title bg-blue bg-fancy'>Preferences</div>
	<div class='ui container'>
		<form class='ui form' ng-submit='savePreferences()'>
			<!-- General -->
			<h2 class='ui horizontal divider header'>
				<i class='setting icon'></i> General
			</h2>
			<div class='field'>
				<label>You</label>
				<input type='text' placeholder='Your name' ng-model='config.name'>
			</div>
			<div class='two fields'>
				<div class='field'>
					<label>Config file</label>
					<input type='text' readonly='' ng-model='configPath'>
				</div>
				<div class='field'>
					<label>Data file</label>
					<input type='text' readonly='' ng-model='dataPath'>
				</div>
			</div>

			<!-- Git -->
			<h2 class='ui horizontal divider header'>
				<i class='fork icon'></i> Git
			</h2>
			<div class='ui two column grid'>
				<div class='column'>
					<h2 class='ui center aligned header'>
						<i class='github icon'></i> GitHub
					</h2>
					<div class='field'>
						<label>Username</label>
						<input type='text' placeholder='Default username' ng-model='config.git.apis.github.username'>
					</div>
					<div class='field'>
						<label>Password</label>
						<div class='ui icon input'>
							<input type='password' placeholder='Default password' ng-model='config.git.apis.github.password'
									data-content='Saving your password is convenient, but not really safe. Consider not providing a default one.' data-variation='wide inverted'>
							<i class='warning sign icon'></i>
						</div>
					</div>
					<div class='field'>
						<label>SSH private key</label>
						<div class='ui file input' ng-click='selectPath("git.apis.github.privateKey")'>
							<input type='text' readonly='' placeholder='The location of your private key' ng-model='config.git.apis.github.privateKey'>
							<input type='file'>
							<div class="ui blue icon button"><i class="file icon"></i></div>
						</div>
					</div>
				</div>
				<div class='column'>
					<h2 class='ui center aligned header'>
						<i class='git square icon'></i> BLIH
					</h2>
					<div class='field'>
						<label>Username</label>
						<input type='text' placeholder='Default username' ng-model='config.git.apis.blih.username'>
					</div>
					<div class='field'>
						<label>Legacy Username</label>
						<div class='ui icon input'>
							<input type='text' placeholder='Legacy username' ng-model='config.git.apis.blih.legacyUsername'
									data-content='This is part of your remote URL. Usually the same as your regular username.' data-variation='wide inverted'>
							<i class='circle help icon'></i>
						</div>
					</div>
					<div class='field'>
						<label>Password</label>
						<div class='ui icon input'>
							<input type='password' placeholder='Default password' ng-model='config.git.apis.blih.password'
									data-content='Saving your password is convenient, but not really safe. Consider not providing a default one.' data-variation='wide inverted'>
							<i class='warning sign icon'></i>
						</div>
					</div>
					<div class='field'>
						<label>SSH private key</label>
						<div class='ui file input' ng-click='selectPath("git.apis.blih.privateKey")'>
							<input type='text' readonly='' placeholder='The location of your private key' ng-model='config.git.apis.blih.privateKey'>
							<input type='file'>
							<div class="ui blue icon button"><i class="file icon"></i></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Projects -->
			<h2 class='ui horizontal divider header'>
				<i class='lab icon'></i> Projects
			</h2>
			<div class='field'>
				<label>Default project directory</label>
				<div class='ui file input' ng-click='selectPath("projects.directory", true)'>
					<input type='text' readonly='' placeholder='The location of your active projects' ng-model='config.projects.directory'>
					<input type='file' webkitdirectory>
					<div class="ui blue icon button"><i class="open folder icon"></i></div>
				</div>
			</div>
			<div class='field'>
				<label>Boilerplates directory</label>
				<div class='ui file input' ng-click='selectPath("projects.boilerplates", true)'>
					<input type='text' readonly='' placeholder='The location of your boilerplates' ng-model='config.projects.boilerplates'>
					<input type='file' webkitdirectory>
					<div class="ui blue icon button"><i class="open folder icon"></i></div>
				</div>
			</div>
			<div class='field'>
				<label>Archive directory</label>
				<div class='ui file input' ng-click='selectPath("archives.directory", true)'>
					<input type='text' readonly='' placeholder='The location of your boilerplates' ng-model='config.archives.directory'>
					<input type='file' webkitdirectory>
					<div class="ui blue icon button"><i class="open folder icon"></i></div>
				</div>
			</div>
			<div class='inline field'>
				<div class='ui toggle checkbox'>
					<input type="checkbox" ng-model='config.archives.autoArchive'>
					<label>Automatically archive projects when they reach their deadline</label>
				</div>
			</div>

			<!-- Appearance -->
			<h2 class='ui horizontal divider header'>
				<i class='paint brush icon'></i> Appearance
			</h2>
			<div class='field' ng-repeat='(key, language) in config.languages'>
				<h3><div class='ui empty {{ language.color }} circular label'></div> {{ language.name }}</h3>
				<div class='ui centered grid'>
					<div class='column' ng-repeat='color in colors'>
						<div class='ui {{ color.value }} circular label color-pick' ng-click='selectColor(key, color.value)'></div>
					</div>
				</div>
			</div>

			<button class='ui fluid positive button' type='submit'>Save</button>
		</form>
	</div>
</div>

<script type="text/javascript">
	/*
	 * Semantic init
	 */
	 $('input').popup({ on: 'focus' })
</script>