<div class='ui container' ng-controller='projectsAllCtrl'>
	<!-- Ongoing -->
	<h2 class='ui horizontal divider header'>
		<i class='code icon'></i> Ongoing Projects
	</h2>
	<div class='ui link cards'>
		<a class='card' ui-sref='projects.detail({project: project})' ng-repeat='project in data.projects | filter: {active: true}'>
			<div class='content'>
				<div class='ui right floated {{ config.languages[project.language].color }} label'>{{ config.languages[project.language].name }}</div>
				<div class='header'>{{ project.name }}</div>
				<div class='meta'>{{ getMetaString(project) }}</div>
				<div class='description'>{{ project.description }}</div>
			</div>
			<div class='extra content'>
				<div ng-if="project.git.repo !== 'none'"><span><i class='fork icon'></i> Versioned project</span></div>
				<div ng-if="project.git.repo === 'none'"><span><i class='user icon'></i> Local project</span></div>
			</div>
		</a>

		<!-- New project -->
		<a class='card new-card' ui-sref='projects.new.project'>
			<div class='content'>
				<i class='massive plus icon'/></i>
				<div class='description'>New project</div>
			</div>
		</a>
	</div>

	<!-- Archived -->
	<h2 class='ui horizontal divider header'>
		<i class='archive icon'></i> Archived Projects
	</h2>
	<div class='ui link cards'>
		<a class='card' ui-sref='projects.detail({project: project})' ng-repeat='project in data.projects | filter: {active: false}'>
			<div class='content'>
				<div class='ui right floated {{ config.languages[project.language].color }} label'>{{ config.languages[project.language].name }}</div>
				<div class='header'>{{ project.name }}</div>
				<div class='meta'>{{ getMetaString(project) }}</div>
				<div class='description'>{{ project.description }}</div>
			</div>
			<div class='extra content'>
				<div ng-if="project.git.repo !== 'none'"><span><i class='fork icon'></i> Versioned project</span></div>
				<div ng-if="project.git.repo === 'none'"><span><i class='user icon'></i> Local project</span></div>
			</div>
		</a>
	</div>
</div>
