<div class='ui fluid container' ng-controller='statisticsCtrl'>
	<div class='large-title bg-green bg-fancy'>Statistics</div>
	<div class='ui container'>
		<div class="ui three statistics">
			<div class="huge red statistic">
	    	<div class="value"><i class="lab icon"></i> {{ getNbProjects() }}</div>
	   		<div class="label">Projects</div>
	  	</div>
			<div class="huge orange statistic">
	    	<div class="value"><i class="file icon"></i> {{ getNbFiles() }}</div>
	   		<div class="label">Files</div>
	  	</div>
			<div class="huge pink statistic">
	    	<div class="value"><i class="tag icon"></i> {{ getNbRepos() }}</div>
	   		<div class="label">Shared repositories</div>
	  	</div>
		</div>
	</div>
</div>
