<div class='ui fluid container'>
	<div class='large-title bg-purple bg-fancy'>Welcome !</div>
	<h1 class='ui center aligned icon header'>
    <i class='hand peace icon'></i>
    <div class='content'>
      <div class='sub header'>
        <p>
          I am <strong>YARVIS</strong>, your personal assistant. If this is your first time here, start by <a ui-sref='preferences'>configuring</a> me.
        </p>
        <p>
          Otherwise, you may want to manage your <a ui-sref='projects.all'>projects</a>.
        </p>
      </div>
    </div>
  </h1>
</div>
