<script type='text/ng-template' id='selectModal'>
  <div class='ui modal'>
    <div class='ui icon header'>
      <i class='list layout icon'></i>
      Pick a value
    </div>
    <div class='content'>
      <div class='grouped fields'>
      	<div class='field' ng-repeat='(key, choice) in inputs.choices'>
      		<div class='ui radio checkbox'>
      			<input type="radio" value='{{ key }}' ng-model='inputs.value'>
      			<label>{{ choice.name }}</label>
      		</div>
      	</div>
      </div>
    </div>
    <div class='actions'>
      <div class='ui green approve inverted button' ng-click='close(true)'><i class="checkmark icon"></i> OK</div>
    </div>
  </script>
